streamlit==1.28.2
openai==0.28
google-generativeai==0.3.1
python-dotenv==1.0.0
langchain==0.0.278
azure-cognitiveservices-speech==1.34.0
lamini==2.0.4
lamini-configuration==0.8.3
SpeechRecognition==3.10.3